<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="static/images/favicon.png"><!-- Site Title  -->
    <title>DnStack Dashboard</title>
    <link rel="stylesheet" href="../static/css/vendor.bundle49f7.css?ver=104"><!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/style.css" id="layoutstyle">
</head>
<body>
<div class="topbar-wrap">
    <div class="topbar is-sticky">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="topbar-nav d-lg-none">
                    <li class="topbar-nav-item relative"><a class="toggle-nav" href="#">
                        <div class="toggle-icon"><span class="toggle-line"></span><span class="toggle-line"></span><span
                                class="toggle-line"></span><span class="toggle-line"></span></div>
                    </a></li>
                </ul>
                <img src="../static/images/dnstack_logo.png" alt="logo" width="100" height="100">
                <ul class="topbar-nav">
                    <li class="topbar-nav-item relative"><span class="user-welcome d-none d-lg-inline-block">Welcome! Admin</span>
                        <span class="toggle-tigger user-thumb"><em class="ti ti-user"></em></span>
                    </li><!-- .topbar-nav-item -->
                </ul><!-- .topbar-nav -->
            </div>
        </div><!-- .container --></div><!-- .topbar -->
    <div class="navbar">
        <div class="container">
            <div class="navbar-innr">
                <ul class="navbar-menu">
                    <li><a href="{{ url_for('index') }}"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                    <li><a href="#"><em class="ikon ikon-coins"></em> Domains</a></li>
                    <li><a href="#"><em class="ikon ikon-transactions"></em> Transactions</a></li>
                </ul>
            </div><!-- .navbar-innr -->
        </div><!-- .container -->
    </div><!-- .navbar -->
</div><!-- .topbar-wrap -->
<script src="../static/js/jquery.bundle49f7.js?ver=104"></script>
</body>
</html>